/*carrito*/

.cart-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.cart-container h1 {
  color: var(--color-primary);
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: var(--color-card);
  border: 1px solid var(--color-border);
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 12px rgba(76, 201, 240, 0.05);
}

.cart-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.cart-info {
  flex: 1;
}

.cart-info h3 {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-bottom: 0.3rem;
}

.cart-info p {
  font-size: 1rem;
  opacity: 0.8;
}


.cart-qty {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 0.8rem;
}

.cart-qty button {
  padding: 0.4rem 0.8rem;
  border: none;
  background: var(--color-primary);
  color: #000;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.cart-qty button:hover {
  background: #74d9ff;
}

.cart-qty span {
  font-size: 1.1rem;
  font-weight: 600;
}


.cart-remove {
  margin-top: 1rem;
  padding: 0.45rem 1rem;
  background: #ff4d4d;
  border: none;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.cart-remove:hover {
  background: #ff1f1f;
}


.cart-total {
  text-align: right;
  font-size: 1.5rem;
  color: var(--color-accent);
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.cart-clear {
  width: 100%;
  padding: 1rem;
  border: none;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  color: #000;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.cart-clear:hover {
  transform: translateY(-2px);
}

@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    text-align: center;
  }

  .cart-img {
    width: 150px;
    height: 150px;
  }

  .cart-qty {
    justify-content: center;
  }
}

.user-container {
  padding: 2rem;
  max-width: 900px;
  margin: auto;
}

.user-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-primary);
  margin-bottom: 2rem;
}

/* Order card */
.order-card {
  background: var(--color-card);
  border: 1px solid var(--color-border);
  padding: 1.5rem;
  border-radius: 12px;
  margin-bottom: 1.5rem;
}

.order-status {
  color: var(--color-accent);
  margin-bottom: .5rem;
}

.order-total {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.order-items {
  border-top: 1px solid var(--color-border);
  padding-top: 1rem;
}

.order-item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.order-img {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  object-fit: cover;
}
