.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  margin-top: 0.3rem;
  position: relative;
}

/* escritorio */
.nav-menu {
  display: flex;
  gap: 2.2rem;
  list-style: none;
  align-items: center;
}

.nav-item {
  color: var(--text-color);
  text-decoration: none;
  font-size: .95rem;
  font-weight: 500;
  letter-spacing: .5px;
  transition: .3s;
  position: relative;
}

.nav-item:hover {
  color: var(--color-primary);
  transform: translateY(-2px);
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(90deg, var(--color-primary), var(--color-accent));
  transition: .3s;
}

.nav-item:hover::after {
  width: 100%;
}

/* --- ICONO CARRITO --- */
.cart-wrapper {
  position: relative;
}

.cart-icon {
  font-size: 1.4rem;
  transition: .25s;
}

.cart-icon:hover {
  transform: scale(1.2);
  color: var(--color-primary);
}

/*boton hamburguesa*/
.hamburger {
  display: none;
  cursor: pointer;
  font-size: 1.9rem;
  color: var(--text-color);
  position: absolute;
  right: 20px;
  top: 12px;
  z-index: 999;
}

/* mobile */
@media (max-width: 820px) {
  .hamburger {
    display: block;
  }

  .nav-bar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0.7rem 1rem;
    position: relative;
  }

  .nav-menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100vh - 70px);
    flex-direction: column;
    background: rgba(10, 10, 10, 0.96);
    padding: 2rem 0;
    gap: 1.8rem;
    border-top: 1px solid var(--color-border);
    backdrop-filter: blur(6px);

    display: none;
    z-index: 999;
  }

  .nav-menu.active {
    display: flex;
  }

  .nav-item {
    font-size: 1.2rem;
    text-align: center;
  }
}
