footer.footer {
  background:#1e1e1e;
  text-align:center;
  padding:.8rem;
  border-top:1px solid var(--color-border);
  font-size:.9rem;
}

footer.footer span {
  color:var(--color-primary);
  font-weight:500;
}
footer.footer span:hover { color:#a0e9ff; }